<mat-card class = "card mat-elevation-z4">
  
  <form [formGroup]="mForm">
    <div class="searcher">
      <mat-form-field class="field">
        <input formControlName="search" matInput placeholder="Title" class="input"
        [matAutocomplete] = "auto"
        >
        <!-- Autocomplete element uses the same result array as main result list -->
        <mat-autocomplete #auto = "matAutocomplete">
            <mat-option *ngFor = "let title of mResults" [value] = "title.mTitle">
              {{title.mTitle}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button class="button" (click)="doSearch()" color="primary">Search</button>
      <button mat-raised-button class="button" (click)="doReset()">Reset</button>
    </div>
  </form>

  <!-- Select to do search while typing or not -->
  <mat-checkbox [(ngModel)]="mOnTypeSearch">Search while type</mat-checkbox>

  <!-- Show result list -->
  <div *ngIf="mResults">
    <list 
      [movieList] = mResults
      [mDisplayMode] = mDisplayMode >
    </list>
  </div>

</mat-card>